.container {
    display: flex;
    flex-direction: column;
    height: 75vh;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.form{
    margin: 10px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.btn {
    margin-top: 10px;
}